	
	<div class="header">
		<h1 class="address"><span class="house-num"> <%= @listing.house_num %><br></span><%= @listing.address %></h1>
	</div><!-- header -->
	<div class="wrapper">
	<div class="content first">
		
	
	 	<div class="image"> 
			<ul class="bxslider">
				
				<% @listing.photos.each do |photo| %>
				<li><%= image_tag photo.image.url(:large)  %></li>
				
				<% end %>
				
			</ul>
			
		</div><!-- images -->

		<div class="price">
		<p class="price">$<%= @listing.price %></p>
	</div>
		<div class="description half pull-left">
			<h3>Description</h3>
			<%= @listing.description.html_safe %>

			
		</div><!-- description -->
		<div class="details half pull-right">
			<h3>Details</h3>
			<%= @listing.details.html_safe %>
		</div><!-- details -->
		

	</div><!-- content -->
	</div><!-- wrapper -->

	<div class="agent">
		<div class="content">
		<h3 class="pull-left"><%= @listing.user.name %> - <span class="title"><%= @listing.user.title %></span></h3>
        			
					
					<span class="phone"><%= @listing.user.phone %></span>
        			<address class="pull-right">
        				<%= @listing.user.address %>
        			</address>
        </div><!-- content -->			
	</div><!-- agent -->