
<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == ('show') && params[:controller] == ('listings') %>
    <%= render 'layouts/listing_head' %>
  <% else %>
    <%= render 'layouts/head' %>
  <% end %>

</head>
<body>

  <% if params[:action] == ('show') && params[:controller] == ('listings') %>

    <%= yield %>
  
  <% elsif current_page?(root_url) %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class='container'>
      <%= yield %>
    </div>

  <% else %>
  <%= render 'layouts/header' %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class='container'>
<%= yield %>
</div>
  <% end %>

</body>
</html>


